.p-concept
  font-size: 0
  width: 100%
  margin: 102px auto 0
  background-image: url("/img/quatre_concept.svg")
  background-position: 775px 284px
  background-repeat: no-repeat
  background-size: 285px 98px
  > .c-flexbox
    padding: 0 80px
    > .c-flexbox_col6:nth-child(1)
      text-align: center
      padding-left: 46px
      .c-heading1
        margin-left: -30px
      > img
        margin: 44px 0 0 -20px
      > p:nth-of-type(1)
        font-size: 12px
        font-weight: bold
        letter-spacing: 3px
        line-height: 37px
        margin-top: 90px
      > p:nth-of-type(2)
        font-size: 8px
        font-family: $fontFamily_kozuka
        line-height: 16px
        margin-top: 34px
    > .c-flexbox_col6:nth-child(2)
      text-align: right
      padding-right: 109px


@media screen and (min-width:1281px)
  .p-concept
    width: 1280px

// SP
@media screen and (max-width: $breakPoint)
  .p-concept
    box-sizing: border-box
    padding: 0 34px
    background-image: none
    > .c-flexbox
      padding: 0
      display: block
      > .c-flexbox_col6
        width: 100%
        &:nth-child(1)
          padding-left: 0
          .c-heading1
            margin-left: 0
          > img
            width: 301px
            margin: 57px 0 0
          > h2
            font-size: 15px
          > p:nth-of-type(1)
            letter-spacing: 0
            margin-top: 38px
          > p:nth-of-type(2)
            letter-spacing: 0
            margin-top: 44px
        &:nth-child(2)
          text-align: center
          padding-right: 0
          img
            width: 294px
            margin-top: 114px
