.p-kodawari
  font-size: 0
  width: 100%
  margin-top: 315px
  background-image: url("/img/quatre_kodawari.svg")
  background-position: center 295px
  background-repeat: no-repeat
  background-size: 394px 81px
  position: relative
  & &_swiperBtn-prev,
  & &_swiperBtn-next
    width: 31px
    height: 31px
    border-top: 2px solid #6f93dc
    border-left: 2px solid #6f93dc
    position: absolute
    top: 20px
    left: calc(50% - 31px / 2)
    cursor: pointer
    outline: none
    &.swiper-button-disabled
      opacity: .5
      pointer-events: none
      cursor: auto
  & &_swiperBtn-prev
    transform: rotate(-45deg)
    margin-left: -197px
  & &_swiperBtn-next
    transform: rotate(135deg)
    margin-left: 197px
  .swiper-container
    width: 100%
    margin-top: 104px
  .swiper-wrapper
    margin-left: -207px
  .swiper-slide
    width: auto
    > .c-flexbox
      box-sizing: content-box
      padding-left: 170px
      > .c-flexbox_col:nth-child(1)
        letter-spacing: 2px
        flex: 0 0 auto
        img,
        span
          text-align: center
          margin: 0 auto
          display: block
        img
          margin-bottom: 20px
        span
          font-size: 19px
          line-height: 1.3
      > .c-flexbox_col:nth-child(2)
        width: 350px
        margin-left: 85px
        h2
          font-family: $fontFamily_kozuka
          font-size: 19px
          letter-spacing: 2px
          line-height: 1.2
          white-space: nowrap
          margin: 0
        p
          font-family: $fontFamily_kozuka
          font-size: 11px
          line-height: 2
          margin: 65px 0 0
      > .c-flexbox_col:nth-child(3)
        margin-left: 85px
        flex: 0 0 auto
    &:nth-child(even) > .c-flexbox > .c-flexbox_col:nth-child(1) img
      margin-top: 130px
    &:nth-child(2) > .c-flexbox > .c-flexbox_col:nth-child(3) img
      margin-top: 80px
    &:nth-child(3) > .c-flexbox > .c-flexbox_col:nth-child(3) img
      margin-top: 45px
    &:nth-child(4)
      > .c-flexbox > .c-flexbox_col
        &:nth-child(2) p:nth-of-type(2)
          margin-top: 28px
        &:nth-child(3) img
          margin-top: 20px
    &:nth-child(5)
      > .c-flexbox > .c-flexbox_col
        &:nth-child(2)
          p:nth-of-type(1)
            margin-top: 40px
          p:nth-of-type(2)
            margin-top: 25px
          ul
            width: 205px
            margin-top: 30px
          li
            font-family: $fontFamily_kozuka
            font-size: 11px
            width: 50%
            margin-top: 13px
        &:nth-child(3)
          margin-left: 30px
  & &_img
    box-sizing: border-box
    width: 100%
    padding-left: calc(50% + 60px)
    margin: 50px auto 0

// SP
@media screen and (max-width: $breakPoint)
  .p-kodawari
    margin-top: 128px
    background-image: none
    & &_swiperBtn-prev
      margin-left: -130px
    & &_swiperBtn-next
      margin-left: 130px
    .swiper-container
      margin-top: 10px
    .swiper-wrapper
      margin-left: 0
    .swiper-slide
      box-sizing: border-box
      width: 100%
      padding: 0 34px
      > .c-flexbox
        box-sizing: content-box
        padding: 90px 0 0
        display: block
        position: relative
        > .c-flexbox_col:nth-child(1)
          img,
          span
            text-align: left
            display: inline-block
          img
            margin-bottom: 0
          span
            font-size: 14px
            margin-left: 10px
        > .c-flexbox_col:nth-child(2)
          width: 100%
          margin-left: 0
          h2
            font-size: 11px
            letter-spacing: 2px
            margin-top: 24px
          p
            margin-top: 20px
        > .c-flexbox_col:nth-child(3)
          margin-left: 0
          flex: 0 0 auto
          position: absolute
          top: 0
          right: 0
      &:nth-child(even) > .c-flexbox > .c-flexbox_col:nth-child(1) img
        margin-top: 0
      &:nth-child(1) > .c-flexbox > .c-flexbox_col:nth-child(3) img
        margin: 48px 55px 0 0
      &:nth-child(2) > .c-flexbox > .c-flexbox_col:nth-child(3) img
        margin: 48px 24px 0 0
      &:nth-child(3) > .c-flexbox > .c-flexbox_col:nth-child(3) img
        margin-top: 15px
      &:nth-child(4) > .c-flexbox > .c-flexbox_col
        &:nth-child(2) p:nth-of-type(2)
          margin-top: 25px
        &:nth-child(3) img
          margin: 48px 20px 0 0
      &:nth-child(5)
        > .c-flexbox > .c-flexbox_col
          &:nth-child(2) p:nth-of-type(1)
            margin-top: 20px
          &:nth-child(3)
            margin-left: 0
            img
              margin-left: 30px
    & &_img
      text-align: right
      max-width: 400px
      padding: 0
      margin: 50px auto 0
      img
        width: 240px

