.p-menu
  font-size: 0
  width: 100%
  margin: 114px auto 0
  background-image: url("/img/quatre_menu.svg")
  background-position: 515px 283px
  background-repeat: no-repeat
  background-size: 241px 81px
  > .c-flexbox
    padding: 0 80px
    &:nth-child(2)
      height: 546px
      margin-top: 40px
      > .c-flexbox_col6
        &:first-child
          padding-right: 105px
        &:last-child
          padding-left: 81px
          border-left: 1px solid #6f93dc
      > .c-flexbox_col6:first-child .p-menu_table:nth-child(2) .p-menu_items > .c-flexbox_col9:nth-of-type(5),
      > .c-flexbox_col6:first-child .p-menu_table:nth-child(2) .p-menu_items > .c-flexbox_col9:nth-of-type(5) + .c-flexbox_col3,
      > .c-flexbox_col6:first-child .p-menu_table:nth-child(4) .p-menu_items > .c-flexbox_col9:nth-of-type(2),
      > .c-flexbox_col6:first-child .p-menu_table:nth-child(4) .p-menu_items > .c-flexbox_col9:nth-of-type(2) + .c-flexbox_col3,
      > .c-flexbox_col6:last-child .p-menu_table:nth-child(1) .p-menu_items > .c-flexbox_col9:nth-of-type(2),
      > .c-flexbox_col6:last-child .p-menu_table:nth-child(1) .p-menu_items > .c-flexbox_col9:nth-of-type(2) + .c-flexbox_col3
        margin-top: 4px
  .p-menu_table
    margin-top: 31px
    &:first-child
      margin-top: 0
    >.c-flexbox_col:nth-child(2)
      flex-grow: 1
  .p-menu_heading
    font-size: 19px
    letter-spacing: 2px
    width: 35%
    margin: 0
    flex-shrink: 0
    > img
      margin-top: 6px
      display: block
    &.p-menu_heading-lsminus1
      letter-spacing: -1px
  .p-menu_items
    font-family: $fontFamily_kozuka
    font-size: 12px
    > .c-flexbox_col9
      margin-top: 17px
      flex-shrink: 0
      &:first-of-type
        margin-top: 0
      span
        font-size: 8px
        letter-spacing: 0
        white-space: nowrap
    > .c-flexbox_col6
      font-size: 8px
      > .c-flexbox
        margin: 2px -2px 0
    > .c-flexbox_col3
      text-align: right
      margin-top: 17px
      &:first-of-type
        margin-top: 0
  .p-menu_passport
    padding: 22px 27px 8px 27px
    margin: 34px -27px 0 -27px
    border: 1px solid #6f93dc
    position: relative
    &:before,
    &:after
      content: ""
      width: 0
      height: 0
      border-style: solid
      border-width: 24px 0 0 30px
      position: absolute
    &:before
      transform: scale(0.83)
      border-color: transparent transparent transparent #f2ebdf
      top: 0
      right: 0
      z-index: 1
    &:after
      background-color: #f2ebdf
      border-color: transparent transparent transparent #6f93dc
      top: -1px
      right: -1px
    .p-menu_heading
      color: #f4aa5a
      img,
      + .c-flexbox_col
        margin-top: 4px
  .p-menu_annotation
    font-family: $fontFamily_kozuka
    font-size: 8px
    margin-top: 19px
    li
      margin-top: 8px
  & &_img
    box-sizing: border-box
    width: 100%
    padding-left: 254px
    margin: 110px auto 0

@media screen and (min-width:1281px)
  .p-menu
    width: 1280px

// SP
@media screen and (max-width: $breakPoint)
  .p-menu
    box-sizing: border-box
    padding: 0 34px
    margin-top: 121px
    background-image: none
    > .c-flexbox
      padding: 0
      display: block
      > .c-flexbox_col6
        width: 100%
        max-width: 400px
        margin: 0 auto
      &:nth-child(2)
        height: auto
        > .c-flexbox_col6:first-child
          padding-right: 0
        > .c-flexbox_col6:last-child
          padding-left: 0
          border-left: 0 none transparent
        > .c-flexbox_col6:first-child .p-menu_table:nth-child(2) .p-menu_items > .c-flexbox_col9:nth-of-type(5),
        > .c-flexbox_col6:first-child .p-menu_table:nth-child(2) .p-menu_items > .c-flexbox_col9:nth-of-type(5) + .c-flexbox_col3,
        > .c-flexbox_col6:first-child .p-menu_table:nth-child(4) .p-menu_items > .c-flexbox_col9:nth-of-type(2),
        > .c-flexbox_col6:first-child .p-menu_table:nth-child(4) .p-menu_items > .c-flexbox_col9:nth-of-type(2) + .c-flexbox_col3,
        > .c-flexbox_col6:last-child .p-menu_table:nth-child(1) .p-menu_items > .c-flexbox_col9:nth-of-type(2),
        > .c-flexbox_col6:last-child .p-menu_table:nth-child(1) .p-menu_items > .c-flexbox_col9:nth-of-type(2) + .c-flexbox_col3
          margin-top: 17px
    .p-menu_table
      display: block
      margin-top: 38px
      &:first-child
        margin-top: 38px
    .p-menu_heading
      font-size: 13px
      width: 100%
      > img
        margin: 0 0 0 15px
        display: inline-block
    .p-menu_items
      margin-top: 17px
      > .c-flexbox_col9
        margin-top: 17px
      > .c-flexbox_col3
        margin-top: 17px
    .p-menu_passport
      padding: 9px 19px 11px 17px
      margin: 26px -19px 0 -16px
      .p-menu_table
        margin-top: 0
      &:after
      top: 0
      right: 0
    .p-menu_annotation
      margin-top: 23px
    & &_img
      padding: 0
      margin: 110px 0 0
      img
        width: 240px

// IE11
@media all and (-ms-high-contrast: none)
  .p-menu .p-menu_heading
    &:nth-of-type(1) > img
      height: 10px
    &:nth-of-type(2) > img
      height: 10px
    &:nth-of-type(3) > img
      height: 10px
    &:nth-of-type(4) > img
      height: 13px
    &:nth-of-type(5) > img
      height: 10px
    &:nth-of-type(6) > img
      height: 11px
    &:nth-of-type(7) > img
      height: 12px
    &:nth-of-type(8) > img
      height: 10px
    &:nth-of-type(9) > img
      height: 10px
    &:nth-of-type(10) > img
      height: 10px
