.p-staff
  font-size: 0
  width: 100%
  margin: 110px auto 0
  background-image: url("/img/quatre_staff.svg")
  background-position: center 267px
  background-repeat: no-repeat
  background-size: 190px 96px
  > .c-flexbox
    margin-top: 7px
    > .c-flexbox_col6:nth-child(1)
      > .p-staff_name
        margin-left: 161px
      > .p-staff_description1
        margin-right: 168px
        margin-left: 80px
        > .c-flexbox_col:nth-child(odd)
          width: 26%
        > .c-flexbox_col:nth-child(even)
          width: 74%
      > .p-staff_description2
        margin-right: 168px
        margin-left: 80px
        > .c-flexbox_col:nth-child(1),
        > .c-flexbox_col:nth-child(5)
          width: 47%
        > .c-flexbox_col:nth-child(3),
        > .c-flexbox_col:nth-child(4)
          width: 100%
          padding-left: 47%
        > .c-flexbox_col:nth-child(2),
        > .c-flexbox_col:nth-child(6)
          width: 53%
    > .c-flexbox_col6:nth-child(2)
      > .p-staff_name
        margin-left: 159px
      > .p-staff_description1
        margin-left: 82px
        > .c-flexbox_col:nth-child(odd)
          width: 18%
        > .c-flexbox_col:nth-child(even)
          width: 82%
  .p-staff_name
    display: table
    img
      margin: 0 auto
      display: block
      &:nth-of-type(2)
        margin-top: 24px
        border-radius: 50%
    h2
      font-size: 19px
      letter-spacing: 2px
      text-align: center
      margin: 25px 0 0
    p
      font-family: $fontFamily_kozuka
      font-size: 11px
      line-height: 1
      text-align: center
      margin: 21px 0 0
  .p-staff_description1,
  .p-staff_description2
    font-family: $fontFamily_kozuka
    font-size: 11px
    box-sizing: border-box
    > .c-flexbox_col
      margin-top: 14px
      &:first-of-type
        margin-top: 0
  .p-staff_description1
    margin-top: 23px
    > .c-flexbox_col:nth-child(odd)
      font-weight: bold
  .p-staff_description2
    padding-top: 15px
    margin-top: 26px
    border-top: 1px solid #231815
    > .c-flexbox_col:nth-child(1),
    > .c-flexbox_col:nth-child(5)
      font-weight: bold
  & &_img
    box-sizing: border-box
    text-align: right
    width: 100%
    padding-right: 132px
    margin: 107px auto 0

@media screen and (min-width:1281px)
  .p-staff
    width: 1280px

