// BreakPoint
$breakPoint: 768px !default;

// FontFamily
$fontFamily: メイリオ, Meiryo, "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Helvetica, "Lucida Grande", sans-serif !default;

// BaseFontSize
$baseFontSize: 10px !default;

// FontSize
$fontSize_xs:    1.2rem !default;
$fontSize_s:     1.4rem !default;
$fontSize_m:     1.6rem !default;
$fontSize_l:     1.8rem !default;
$fontSize_xl:    2rem !default;
$fontSize_xxl:   2.4rem !default;
$fontSize_xxxl:  3rem !default;
$fontSize_xxxxl: 3.6rem !default;

// FontSize(SP)
$fontSize_xs_sp:    $fontSize_xs !default;
$fontSize_s_sp:     $fontSize_s !default;
$fontSize_m_sp:     $fontSize_m !default;
$fontSize_l_sp:     $fontSize_l !default;
$fontSize_xl_sp:    $fontSize_xl !default;
$fontSize_xxl_sp:   2.2rem !default;
$fontSize_xxxl_sp:  2.4rem !default;
$fontSize_xxxxl_sp: 2.6rem !default;

// Margin
$margin_xs: 1rem !default;
$margin_s:  $margin_xs * 2 !default;
$margin_m:  $margin_xs * 3 !default;
$margin_l:  $margin_xs * 6 !default;
$margin_xl: $margin_xs * 10 !default;

// Margin(SP)
$margin_xs_sp: $margin_xs !default;
$margin_s_sp:  $margin_xs_sp * 2 !default;
$margin_m_sp:  $margin_xs_sp * 3 !default;
$margin_l_sp:  $margin_xs_sp * 4 !default;
$margin_xl_sp: $margin_xs_sp * 5 !default;
