<article id="access" class="p-access">
  <h1 class="c-heading1">アクセス</h1>
  <div class="c-flexbox">
    <div class="c-flexbox_col6">
    </div>
    <div class="c-flexbox_col6">
      <div class="c-flexbox">
        <div class="c-flexbox_col">
          <dl>
            <dt>住所</dt>
            <dd>岡山県都窪郡早島町前潟1050</dd>
            <dt>メール</dt>
            <dd><a href="mailto:hello@quatrehairdesign.com">hello@quatrehairdesign.com</a></dd>
            <dt>電話</dt>
            <dd>０８６－４５４－９６３６</dd>
          </dl>
        </div>
        <div class="c-flexbox_col"></div>
      </div>
      <p>国道二号線マクドナルドを南に進み突き当りを右へ。<br>ファミリーマートを過ぎてすぐ左に曲がると右手にございます。</p>
      <p>駐車場3台まで</p>
    </div>
  </div>
</article>
