<article id="access" class="p-access">
  <h1 class="c-heading1"><span>アクセス</span></h1>
  <div class="c-flexbox">
    <div class="c-flexbox_col6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.118793482925!2d133.82194551504506!3d34.60115748046015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3553fe794bab39fb%3A0xb809ba040f5f8d12!2z44CSNzAxLTAzMDMg5bKh5bGx55yM6YO956qq6YOh5pep5bO255S65YmN5r2f77yR77yQ77yV77yQ!5e0!3m2!1sja!2sjp!4v1542544095200" width="460" height="480" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="c-flexbox_col6">
      <div class="c-flexbox">
        <div class="c-flexbox_col">
          <dl>
            <dt>住所</dt>
            <dd>岡山県都窪郡早島町前潟1050</dd>
            <dt>メール</dt>
            <dd><a href="mailto:hello@quatrehairdesign.com">hello@quatrehairdesign.com</a></dd>
            <dt>電話</dt>
            <dd>０８６－４５４－９６３６</dd>
          </dl>
        </div>
        <div class="c-flexbox_col"><img src="<%= config.path.img; %>/quatre_kanban.jpg" width="195" alt=""></div>
      </div>
      <p>国道二号線マクドナルドを南に進み突き当りを右へ。<br>ファミリーマートを過ぎてすぐ左に曲がると右手にございます。</p>
      <p>駐車場3台まで</p>
    </div>
  </div>
</article>
