<article id="concept" class="p-concept">
  <div class="c-flexbox c-flexbox-directionRowreverse">
    <div class="c-flexbox_col6">
      <h1 class="c-heading1"><span>コンセプト</span></h1>
      <img src="<%= config.path.img; %>/quatre_care_refresh.svg" width="454" alt="Natural care & Refresh">
      <h2 class="c-visible-sp">いつもの毎日に癒しのひとときを</h2>
      <p>キャトルは、お客様の髪や心身が元気になることを１番に考えます。<br>そのためにこだわっているのは、<br>髪や頭皮に優しい美容材料、<br>いつ来ても落ち着けるアットホームな空間、<br>そして皆さんそれぞれの個性を活かした、<br>ナチュラルなヘアスタイル作りです。</p>
      <p>キッズスペースも設けておりますので、<br>お子様から大人の方まで、是非ご家族皆さんでご利用ください。</p>
    </div>
    <div class="c-flexbox_col6"><img src="<%= config.path.img; %>/quatre_1.jpg" width="370" alt=""></div>
  </div>
</article>
