<article class="p-footer">
  <div><a href="#"></a></div>
  <img src="<%= config.path.img; %>/quatre_logo_b.svg" width="142" alt="quatre HAIR DESIGN">
  <p><span>&copy;</span> quatre HAIR DESIGN</p>
</article>
