<div class="p-heroimage">
  <h1 class="c-logo"><a href="/"><img src="<%= config.path.img; %>/quatre_logo_w.svg" width="161" alt="quatre HAIR DESIGN"></a></h1>
  <%- include('_nav', {color: 'w'}); %>
  <div class="p-heroimage_sociallink"><a href="https://facebook.com/quatrehairdesign/" target="_blank">Facebook</a>&nbsp;&nbsp;<span>/</span>&nbsp;&nbsp;<a href="https://www.instagram.com/quatrehairdesign/" target="_blank">Instagram</a></div>
  <div class="p-heroimage_reservation"><a href="https://beauty.hotpepper.jp/slnH000363847/" target="_blank"><span>ご予約</span></a></div>
  <a class="p-heroimage_chevron" href="#start"></a>
</div>
