<article id="menu" class="p-menu">
  <h1 class="c-heading1">メニュー</h1>
  <div class="c-flexbox">
    <div class="c-flexbox_col6">
      <div class="c-flexbox">
        <h2 class="c-flexbox_col8">カット</h2>
        <div class="c-flexbox_col8">
          <dl class="c-flexbox c-flexbox-justifyBetween c-flexbox-flexWrap">
            <dt class="c-flexbox_col10">カット</dt>
            <dd class="c-flexbox_col2">¥3,780</dd>
            <dt class="c-flexbox_col10">スクールカット<span>（高校生まで）</span></dt>
            <dd class="c-flexbox_col2">¥2,700</dd>
            <dt class="c-flexbox_col10">キッズカット<span>（小学生以下）</span></dt>
            <dd class="c-flexbox_col2">¥1,620</dd>
            <dt class="c-flexbox_col10">前髪カット<span>（シャンプー&ブローなし）</span></dt>
            <dd class="c-flexbox_col2">¥540</dd>
          </dl>
        </div>
      </div>
      <div class="c-flexbox">
        <h2 class="c-flexbox_col8">カラー</h2>
        <div class="c-flexbox_col8">
          <dl class="c-flexbox c-flexbox-justifyBetween c-flexbox-flexWrap">
            <dt class="c-flexbox_col10">ヘアカラー</dt>
            <dd class="c-flexbox_col2">¥5,940~</dd>
            <dt class="c-flexbox_col10">ヘナ</dt>
            <dd class="c-flexbox_col2">¥6,480~</dd>
            <dt class="c-flexbox_col10">マニュキア</dt>
            <dd class="c-flexbox_col2">¥5,400~</dd>
            <dt class="c-flexbox_col10">ダブルカラー</dt>
            <dd class="c-flexbox_col2">¥10,800~</dd>
            <dd class="c-flexbox_col6">（
              <dl class="c-flexbox c-flexbox-inline">
                <dt class="c-flexbox_col">※ロング料金</dt>
                <dd class="c-flexbox_col">¥1,080~</dd>
              </dl>
            ）</dd>
            <dt class="c-flexbox_col10">ダメージレスカラー</dt>
            <dd class="c-flexbox_col2">+¥2,160</dd>
          </dl>
        </div>
      </div>
      <div class="c-flexbox">
        <h2 class="c-flexbox_col8">パーマ</h2>
        <div class="c-flexbox_col8">
          <dl class="c-flexbox c-flexbox-justifyBetween c-flexbox-flexWrap">
            <dt class="c-flexbox_col10">ショート</dt>
            <dd class="c-flexbox_col2">¥5,400</dd>
            <dt class="c-flexbox_col10">ロング</dt>
            <dd class="c-flexbox_col2">¥6,480</dd>
            <dt class="c-flexbox_col10">クリープパーマ</dt>
            <dd class="c-flexbox_col2">¥1,080</dd>
            <dt class="c-flexbox_col10">ツイストパーマ</dt>
            <dd class="c-flexbox_col2">¥6,480</dd>
          </dl>
        </div>
      </div>
      <div class="c-flexbox">
        <h2 class="c-flexbox_col8">ストレート<br>パーマ</h2>
        <div class="c-flexbox_col8">
          <dl class="c-flexbox c-flexbox-justifyBetween c-flexbox-flexWrap">
            <dt class="c-flexbox_col10">ストレートパーマ<br><span>（パーマ落とし/ボリュームダウン）</span></dt>
            <dd class="c-flexbox_col2">¥5,400~</dd>
            <dt class="c-flexbox_col10">縮毛強制</dt>
            <dd class="c-flexbox_col2">¥10,800~</dd>
            <dt class="c-flexbox_col10">部分強制</dt>
            <dd class="c-flexbox_col2">¥3,240~</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="c-flexbox_col6">
      <div class="c-flexbox">
        <h2 class="c-flexbox_col8">トリートメント</h2>
        <div class="c-flexbox_col8">
          <dl class="c-flexbox c-flexbox-justifyBetween c-flexbox-flexWrap">
            <dt class="c-flexbox_col10">トリートメント<br><span>（ボリュームアップorダウン、サラつや、薬剤除去 etc..）</span></dt>
            <dd class="c-flexbox_col2">¥3,240~</dd>
            <dt class="c-flexbox_col10">クセ取りトリートメント</dt>
            <dd class="c-flexbox_col2">¥5,400</dd>
          </dl>
        </div>
      </div>
      <div class="c-flexbox">
        <h2 class="c-flexbox_col8">ヘアセット</h2>
        <div class="c-flexbox_col8">
          <dl class="c-flexbox c-flexbox-justifyBetween c-flexbox-flexWrap">
            <dt class="c-flexbox_col10">アップスタイル</dt>
            <dd class="c-flexbox_col2">¥4,320</dd>
            <dt class="c-flexbox_col10">ダウンスタイル</dt>
            <dd class="c-flexbox_col2">¥3,240</dd>
          </dl>
        </div>
      </div>
      <div class="c-flexbox">
        <h2 class="c-flexbox_col8">着付け</h2>
        <div class="c-flexbox_col8">
          <dl class="c-flexbox c-flexbox-justifyBetween c-flexbox-flexWrap">
            <dt class="c-flexbox_col10">袴・訪問着</dt>
            <dd class="c-flexbox_col2">¥5,400</dd>
            <dt class="c-flexbox_col10">振り袖</dt>
            <dd class="c-flexbox_col2">¥6,480</dd>
          </dl>
        </div>
      </div>
      <div class="c-flexbox">
        <h2 class="c-flexbox_col8">リラクゼーション</h2>
        <div class="c-flexbox_col8">
          <dl class="c-flexbox c-flexbox-justifyBetween c-flexbox-flexWrap">
            <dt class="c-flexbox_col10">ヘッドスパ<span>（15分）</span></dt>
            <dd class="c-flexbox_col2">¥2,160</dd>
            <dt class="c-flexbox_col10">ヘッドスパ<span>（30分）</span></dt>
            <dd class="c-flexbox_col2">¥3,240</dd>
            <dt class="c-flexbox_col10">首・肩<span>（15分）</span></dt>
            <dd class="c-flexbox_col2">¥1,620</dd>
          </dl>
        </div>
      </div>
      <div class="c-flexbox">
        <h2 class="c-flexbox_col8">Free</h2>
        <div class="c-flexbox_col8">
          <dl class="c-flexbox c-flexbox-justifyBetween c-flexbox-flexWrap">
            <dt class="c-flexbox_col10">眉カット</dt>
            <dd class="c-flexbox_col2">¥0</dd>
          </dl>
        </div>
      </div>
      <div class="p-passport">
        <div class="c-flexbox">
          <h2 class="c-flexbox_col8">年間パス</h2>
          <div class="c-flexbox_col8">
            <dl class="c-flexbox c-flexbox-justifyBetween c-flexbox-flexWrap">
              <dt class="c-flexbox_col10">前髪カット年間パスポート</dt>
              <dd class="c-flexbox_col2">¥2,160</dd>
            </dl>
          </div>
        </div>
      </div>
      <ul>
        <li>※1&nbsp;全てシャンプー＆ブロー込みの料金です（一部を除く）</li>
        <li>※2&nbsp;シャンプー＆ブローのみは¥1,620</li>
        <li>※3&nbsp;料金は全て税抜きです</li>
      </ul>
    </div>
  </div>
  <img src="<%= config.path.img; %>/quatre_3.jpg" width="570" alt="">
</article>
