<article id="photo" class="p-photo">
  <h1 class="c-heading1">スタッフ</h1>
  <div class="c-tabs">
    <ul class="c-tabs_toggles">
      <li class="c-tabs_toggle">お店</li>
      <li class="c-tabs_toggle">大人</li>
      <li class="c-tabs_toggle">キッズ</li>
      <li class="c-tabs_toggle">着付け&amp;アルバム</li>
    </ul>
    <div class="c-tabs_contents">
      <div class="c-tabs_content">
        <ul class="c-flexbox c-flexbox_wrap">
          <li class="c-flexbox_col3"><img src="http://placehold.jp/520x346.png" style="width:100%;"></li>
          <li class="c-flexbox_col3"><img src="http://placehold.jp/520x346.png" style="width:100%;"></li>
          <li class="c-flexbox_col3"><img src="http://placehold.jp/520x346.png" style="width:100%;"></li>
          <li class="c-flexbox_col3"><img src="http://placehold.jp/520x346.png" style="width:100%;"></li>
        </ul>
      </div>
      <div class="c-tabs_content">
        <ul class="c-flexbox c-flexbox_wrap">
          <li class="c-flexbox_col3"><img src="http://placehold.jp/520x346.png" style="width:100%;"></li>
          <li class="c-flexbox_col3"><img src="http://placehold.jp/520x346.png" style="width:100%;"></li>
          <li class="c-flexbox_col3"><img src="http://placehold.jp/520x346.png" style="width:100%;"></li>
          <li class="c-flexbox_col3"><img src="http://placehold.jp/520x346.png" style="width:100%;"></li>
        </ul>
      </div>
      <div class="c-tabs_content">
        <ul class="c-flexbox c-flexbox_wrap">
          <li class="c-flexbox_col3"><img src="http://placehold.jp/520x346.png" style="width:100%;"></li>
          <li class="c-flexbox_col3"><img src="http://placehold.jp/520x346.png" style="width:100%;"></li>
          <li class="c-flexbox_col3"><img src="http://placehold.jp/520x346.png" style="width:100%;"></li>
          <li class="c-flexbox_col3"><img src="http://placehold.jp/520x346.png" style="width:100%;"></li>
        </ul>
      </div>
      <div class="c-tabs_content">
        <ul class="c-flexbox c-flexbox_wrap">
          <li class="c-flexbox_col3"><img src="http://placehold.jp/520x346.png" style="width:100%;"></li>
          <li class="c-flexbox_col3"><img src="http://placehold.jp/520x346.png" style="width:100%;"></li>
          <li class="c-flexbox_col3"><img src="http://placehold.jp/520x346.png" style="width:100%;"></li>
          <li class="c-flexbox_col3"><img src="http://placehold.jp/520x346.png" style="width:100%;"></li>
        </ul>
      </div>
    </div>
  </div>
</article>
