<article id="photo" class="p-photo">
  <div class="c-flexbox">
    <div class="c-flexbox_col">
      <h1 class="c-heading1"><span>写真</span></h1>
    </div>
  </div>
  <div class="c-tabs" data-qt-tabs>
    <ul class="c-tabs_toggles" data-qt-toggles>
      <li class="c-tabs_toggle c-tabs_toggle-active">お店</li>
      <li class="c-tabs_toggle">大人</li>
      <li class="c-tabs_toggle">キッズ</li>
      <li class="c-tabs_toggle">着付け<span class="c-visible-pc">&amp;アルバム</span></li>
    </ul>
    <div class="c-tabs_contents" data-qt-contents>
      <div class="c-tabs_content c-tabs_content-active">
        <ul class="c-flexbox c-flexbox-flexWrap">
          <li class="c-flexbox_col"><img src="//placehold.jp/520x346.png"></li>
          <li class="c-flexbox_col"><img src="//placehold.jp/520x346.png"></li>
          <li class="c-flexbox_col"><img src="//placehold.jp/520x346.png"></li>
          <li class="c-flexbox_col"><img src="//placehold.jp/520x346.png"></li>
          <li class="c-flexbox_col"><img src="//placehold.jp/520x346.png"></li>
          <li class="c-flexbox_col"><img src="//placehold.jp/520x346.png"></li>
          <li class="c-flexbox_col"><img src="//placehold.jp/520x346.png"></li>
          <li class="c-flexbox_col"><img src="//placehold.jp/520x346.png"></li>
          <li class="c-flexbox_col"><img src="//placehold.jp/520x346.png"></li>
          <li class="c-flexbox_col"><img src="//placehold.jp/520x346.png"></li>
          <li class="c-flexbox_col"><img src="//placehold.jp/520x346.png"></li>
        </ul>
      </div>
      <div class="c-tabs_content">
        <ul class="c-flexbox c-flexbox-flexWrap">
          <li class="c-flexbox_col"><img src="//placehold.jp/376x564.png"></li>
          <li class="c-flexbox_col"><img src="//placehold.jp/376x564.png"></li>
          <li class="c-flexbox_col"><img src="//placehold.jp/376x564.png"></li>
          <li class="c-flexbox_col"><img src="//placehold.jp/376x564.png"></li>
        </ul>
      </div>
      <div class="c-tabs_content">
        <ul class="c-flexbox c-flexbox-flexWrap">
          <li class="c-flexbox_col"><img src="//placehold.jp/376x564.png"></li>
          <li class="c-flexbox_col"><img src="//placehold.jp/376x564.png"></li>
          <li class="c-flexbox_col"><img src="//placehold.jp/376x564.png"></li>
          <li class="c-flexbox_col"><img src="//placehold.jp/376x564.png"></li>
        </ul>
      </div>
      <div class="c-tabs_content">
        <ul class="c-flexbox c-flexbox-justifyCenter c-flexbox-flexWrap">
          <li class="c-flexbox_col"><img src="//placehold.jp/600x924.png"></li>
        </ul>
      </div>
    </div>
  </div>
</article>
